.actions {
  display: flex;
  gap: 10px;
  height: 100%;
}

.action_btn:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card_option {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}