.full-page-container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 45px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.custom-card {
  padding: 40px;
  background-color: #191C24;

  width: 30%;
}

.custom-card header {
  max-height: 150px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header img {
  max-height: 25px;
}

.main {
  width: 70%;
}

.stepper {
  padding-top: 40px;
  padding-bottom: 40px;
}

form button {
  width: 100%;
  margin-top: 15px;
  height: 35px;
}

.custom-card div p {
  margin-bottom: 35px;
}


